- gravatar_size = @current_user.preference[:contacts_outline] == "brief" ? "16x16" : "30x30"

%li[issue]{ highlightable(dom_id(issue, :tools)) }
  = gravatar_for(issue, :size => gravatar_size)
  
  .tools{ invisible, :id => dom_id(issue, :tools) }
    = link_to_delete(issue)
  
  .indentslim
    = link_to(h(issue.subject), issue)
    %dt{ :style => "padding: 2px 0px 0px 0px" }
      = "By: #{issue.by} | "
      = "Assigned to: #{(issue.assigned? ?  issue.assignee.full_name : "Nobody")} | "
      = t(:added_ago, time_ago_in_words(issue.created_at))
