- remote_form_for(@category, :url => admin_issue_categories_path, :html => one_submit_only(:issue_category).merge({:autocomplete => 'off'})) do |f|
  = link_to_close new_admin_issue_category_path
  = f.error_messages
  = render :partial => "admin/issue_categories/form", :locals => { :f => f }
  .buttonbar
    = f.submit "Create Category"
    #{t :or}
    = link_to_cancel new_admin_issue_category_path